/doxygen-html/
/autom4te.cache/
/build*/
config.cache
.deps/
Makefile
Makefile.in
aclocal.m4
depcomp
install-sh
missing
test-driver
stamp-h1
config.h*
config.log
config.status
*.vim
*~
*.bak
*.o
*.a
/src/tiary
/configure
/tiary-*.tar.*
*.test
/compile
.*.sw?
*.gen
*.gen.cpp
*.out
