/doxygen-html/
/autom4te.cache/
/build*/
config.cache
.deps/
Makefile
Makefile.in
aclocal.m4
depcomp
install-sh
missing
test-driver
stamp-h1
/src/tiary-config.h
/src/tiary-config.h.in
config.guess
config.log
config.status
config.sub
*.vim
*~
*.bak
*.o
*.a
/src/tiary
/configure
/tiary-*.tar.*
*.test
/compile
.*.sw?
*.gen
*.gen.cpp
*.out
/ut/*.log
/ut/*.trs
